.title-info {
  text-align: center;
  margin-bottom: 56px;

  h3 {
    color: var(--red);
    margin-bottom: 8px;
  }
}

#projects {
  padding-block: 72px 144px;

  .projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;

    .card {
      max-width: 330px;
      padding: 12px 12px 17px 12px;
      background-color: var(--gray-300);
      border-radius: 12px;
      border: 1.5px solid var(--gray-300);
      transition: .3s ease-in-out;

      img {
        border-radius: 8px;
        margin-bottom: 20px;
      }

      p {
        margin-top: 8px;
      }
    }

    .card:hover {
      border: 1.5px solid var(--gray-400)
    }
  }
}

.bg-services {
  width: 100%;
  background-color: var(--gray-100);
  padding-block: 88px 120px;
}

#services {

  .services-list {
    display: flex;
    justify-content: center;
    gap: 24px;

    .service-item {
      width: 280px;
      padding: 20px;
      border: 2px solid var(--gray-200);
      border-radius: 12px;
      display: grid;

      img {
        margin-bottom: 20px;
      }

      span {
        margin-bottom: 8px;
      }

    }
  }

}

.bg-contact {
  margin-top: 128px;
  height: 700px;
  background: url("../assets/images/Background_Contacts.png") center no-repeat;
  background-size: cover;
}

#contact {
  .title-info {
    h3 {
      color: var(--purple);
    }

    h2 {
      padding-block: 8px;
    }
  }

  nav {
    display: grid;
    margin-inline: auto;
    max-width: 400px;
    gap: 16px;

    a {
      display: flex;
      align-items: center;
      padding: 20px;
      border: 1.5px solid var(--gray-300);
      border-radius: 8px;
      background-color: var(--gray-300);
      gap: 12px;
      position: relative;
      transition: .3s ease-in-out;

      &::after {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        background-image: url("../assets/icons/ArrowUpRight.svg");
        right: 20px;
      }

      &:hover {
        border: 1.5px solid var(--blue);
      }
    }
  }
}